IDI_ICON1   ICON    DISCARDABLE "Volbx.ico"

#include <windows.h>
#include "../Shared/CommonProperties.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1, 0, 0, 0
PRODUCTVERSION  VER_PRODUCTVERSION
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",        ""
            VALUE "FileDescription",    "Volbx"
            VALUE "FileVersion",        "1.0.0.0"
            VALUE "InternalName",       "Volbx"
            VALUE "LegalCopyright",     VER_LEGALCOPYRIGHT_STR
            VALUE "LegalTrademarks1",   ""
            VALUE "LegalTrademarks2",   ""
            VALUE "OriginalFilename",   "Volbx.exe"
            VALUE "ProductName",        "Volbx"
            VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
